about-time==4.2.1
alive-progress==3.1.5
altgraph==0.17.4
async-timeout==4.0.3
auto-py-to-exe==2.42.0
bottle==0.12.25
bottle-websocket==0.2.9
certifi==2024.2.2
charset-normalizer==3.3.2
Eel==0.16.0
future==0.18.3
gevent==24.2.1
gevent-websocket==0.10.1
grapheme==0.6.0
greenlet==3.0.3
hiredis==2.3.2
idna==3.7
packaging==23.2
pyfiglet==1.0.2
pyinstaller==6.4.0
pyinstaller-hooks-contrib==2024.1
pyparsing==3.1.1
redis==5.0.1
requests==2.31.0
urllib3==2.2.1
whichcraft==0.6.1
zope.event==5.0
zope.interface==6.2
